 @font-face {
    font-family:'Madimi' ;
    src: url(fonts/Madimi_One/MadimiOne-Regular.ttf)

}
 *{font-family: 'Madimi';}
 body{ 
}

#title{color: gold;
text-shadow:5px 5px  5px blue;}


button{border-radius: 5%;
padding: 15px;
background-color: lightblue;
color: green;}

#container{background-color:white;
display: flex;
flex-wrap: wrap;
flex:0 0 0;
}


div{border: 10px solid;}